<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <strong class="st1">css测试</strong>
    <strong class="st2">less测试</strong>
    <strong class="st3">scss测试</strong>

    <p class="test test1"></p>
    <p class="test test2"></p>
    <p class="test test3"></p>
    <p class="test test4"></p>

  </body>
</html>
